:root {
    --blue:  #0d4f70;
    --grey: #eaeaea;
    --dark-grey: #ccc;
    --white: #fff;
}
body {
  margin: 0 auto;
  background: var(--white);
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}
main {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#contact-info {
    border-top: 1px solid var(--grey);
}
#contact-info, #cover-page {
    display:flex;
    flex-direction: row;
    justify-content: space-between
}
@media screen (max-width: 60em) {
  body {
    font-size: 0.9em;
    padding: 1em;
  }
}
@media screen and (max-width: 900px){
  #cover-page {
    flex-direction: column;
  }
  
  img.resize {
    width: 100px;
    height: auto;
  }
  
  
}

@media print {
  body {
    background-color: transparent;
    color: black;
    font-size: 12pt;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3, h4 {
    page-break-after: avoid;
  }
}
section {
  display: flex;
  flex-direction: row;
  justify-content: center;
   padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
}
article {
  width: 60em;
}

header {
    display: flex;
    padding-top: 1em;
    flex-direction: row-reverse;
    border-bottom: 1px solid var(--dark-grey);
    background: var(--grey);
}
h4, h5 {
  padding-bottom: 0.25em;
  margin: 0em;
}
h1, h2, h3 {
    color: var(--blue);
}
p {
  margin: 1em 0;
  padding-right: 2em;
}
i {
  padding-top: 0.5em;
  padding-right: 1em;
}
a {
  color: #1a1a1a;
  text-decoration: none;
  transition: 1s ease;
  animation: fadein 300ms;
}
a:hover {
  border-bottom: 2px solid var(--blue);
}

@keyframes fadein {
  
  from {
    width: 0 %
    margin-left: 100%
  }
  to {
    width: 100 %;
    margin-left: 0%;
  }
  
}

a:visited {
  color: var(--blue);
}
li {
    padding: 0.5em;
}
.background-grey {
   background: var(--grey); 
}
.border-curve {
    border-radius: 1em;
}
.inline-list>li {
    display: inline-block;
    text-decoration: none;
    padding-right: 2em;
}
#about {
  padding-left: 0em;
  
}
#about>p {
    text-align: justify;
}
#title h3, #title h1 {
    padding: 0em;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 20px;
}

.width-full {
   min-width: 100%;
}
.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}