<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
    </style> 
    <title>Mike's Portfolio</title>
  </head>
  <body>
    {% block header %}
    {% endblock header %}
    {% block main %}
    {% block sidebar %} 
    {% endblock sidebar %}
    {% block content %} 
    {% endblock content %}
    {% endblock main %}
    {% block footer %}
    {% endblock footer %}
  </body>
</html>
