{% from "base/components.html" import header %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    <title>Mike's Portfolio</title>
  </head>
  <body>
    {% block header %}
        {{ header() }}
    {% endblock header %}
    <main>
        {% block sidebar %} 
        {% endblock sidebar %}
        {% block content %} 
        {% endblock content %}
    </main>
    {% block footer %}
    {% endblock footer %}
  </body>
</html>
