@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

:root {
    --green: #687864;
    --darkblue: #31708E;
    --midblue: #5085A5;
    --lightblue: #8FC1E3;
    --white: #F7F9FB;
    --grey: #a3aacc;
    --black: rgba(0,0,0,0.65);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    background: var(--white);
    font-color: var(--black);
}

body {
  min-height: 95vh;
  max-width: 960px;
  /*border: 1px solid var(--grey);
  box-shadow: 5px 5px 5px #ccc; */
  margin: 0 auto;
  display: grid;
  grid-gap: 2em;
  padding: 1em;
  grid-template-rows: 5em auto 2em;
  border-radius: 5px;
  background: #fff;
}

header{
  grid-row: 1;
  display: flex;
  align-items: bottom;
  justify-content: space-between;
  border-bottom: 2px solid var(--grey);
  color: rgba(0,0,0,0.75);
}
nav{
  display: flex;
  justify-content: space-around;
}
main{
  display: flex;
  justify-content: space-between;
}
aside{
  background: var(--white);
  border-radius: 1em;
  margin-left: 2em;
  padding: 1em;
}
#content{
  display: flex;
  justify-content: space-around;
}
a {
  color: var(--darkblue);
  transition: 0.5s;
  text-decoration: none;
}
a:hover{
  border-bottom: 1px solid var(--grey);
}
nav a{
  color: var(--black);
  font-style: normal;
  font-weight:400;
}
nav ul{
    display: flex;
}
nav ul li {
    display: block;
    text-decoration: none;
    padding: 1em;
}
nav ul li ul{
  display: none;
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
nav ul li:hover > ul, .navbar ul li ul:hover{
  display: block;
  opacity: 1;
  visibility: visible;  
}
ul {
  list-style: none;
}
li {
  position: relative;
}
.content{
  grid-row: 2;
  columns: 1;
  overflow: auto;
}
h5 {
  color: a3aacc;
}
h1, h2, h3, table{
  column-span: all;
}
p, li, ul {
  font-style: normal;
}
p {
  text-align: justify;
}
li, ul {
  margin-top: 0.5em;
}
h1, h2, h3, h4, h5 {
  font-style: normal;
  font-weight:500;
}
h1 {
  color: var(--grey);
}
pre {
  padding: 1em;
  background: #ccc;
  width: 75%;
  margin: 0 auto;
  border-radius: 5px;
}
table {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 75%;
  margin: 0 auto;
  border-radius: 5px;
}
thead {
  background: black;
}
th, td{
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight:300;
  padding: 1em;
  transition: 500ms;
}
th {
  color: #fff;
}
td:hover{
  box-shadow: 5px 5px 5px #ccc;
}
.even {
  background: #ece6f2;
}
